# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local 
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/.migration_lock.toml

# Bun
bun.lockb

# Build artifacts
build
.vercel
.output

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Testing
*.test.ts.snap